In [1]:
#salgorithm: EXP-3
import numpy as np
import pandas as pd

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
df = pd.DataFrame(
{
    "A":1.0,
    "B":pd.Timestamp("20221229"),
    "C":pd.Series(1,index = list(range(4)), dtype='float32'),
    "D":np.array([3]*4, dtype='int32'),
    "E":pd.Categorical(['train','train','train','train']),
    "F":"MLWP",
}
)
df

     A          B    C  D      E     F
0  1.0 2022-12-29  1.0  3  train  MLWP
1  1.0 2022-12-29  1.0  3  train  MLWP
2  1.0 2022-12-29  1.0  3  train  MLWP
3  1.0 2022-12-29  1.0  3  train  MLWP

In [4]:
df.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [5]:
df.head()
df.tail(3)
df.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [6]:
df.to_numpy()

array([[1.0, Timestamp('2022-12-29 00:00:00'), 1.0, 3, 'train', 'MLWP'],
       [1.0, Timestamp('2022-12-29 00:00:00'), 1.0, 3, 'train', 'MLWP'],
       [1.0, Timestamp('2022-12-29 00:00:00'), 1.0, 3, 'train', 'MLWP'],
       [1.0, Timestamp('2022-12-29 00:00:00'), 1.0, 3, 'train', 'MLWP']],
      dtype=object)

In [7]:
df.describe()

         A    C    D
count  4.0  4.0  4.0
mean   1.0  1.0  3.0
std    0.0  0.0  0.0
min    1.0  1.0  3.0
25%    1.0  1.0  3.0
50%    1.0  1.0  3.0
75%    1.0  1.0  3.0
max    1.0  1.0  3.0

In [8]:
df.sort_index(axis=1, ascending=False)

      F      E  D    C          B    A
0  MLWP  train  3  1.0 2022-12-29  1.0
1  MLWP  train  3  1.0 2022-12-29  1.0
2  MLWP  train  3  1.0 2022-12-29  1.0
3  MLWP  train  3  1.0 2022-12-29  1.0

In [9]:
df['A']  # S = df['A']

0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64

In [10]:
df[['B','A']] = df[['A','B']]
df

           A    B    C  D      E     F
0 2022-12-29  1.0  1.0  3  train  MLWP
1 2022-12-29  1.0  1.0  3  train  MLWP
2 2022-12-29  1.0  1.0  3  train  MLWP
3 2022-12-29  1.0  1.0  3  train  MLWP

In [11]:
sa = pd.Series([1, 2, 3], index=list('abc'))
sa.c

3

In [13]:
sa.a = 5
sa

a    5
b    2
c    3
dtype: int64

In [14]:
dfa = df.copy()
dfa.A

0   2022-12-29
1   2022-12-29
2   2022-12-29
3   2022-12-29
Name: A, dtype: datetime64[ns]

In [16]:
dfa.A = list(range(len(dfa.index)))
dfa

   A    B    C  D      E     F
0  0  1.0  1.0  3  train  MLWP
1  1  1.0  1.0  3  train  MLWP
2  2  1.0  1.0  3  train  MLWP
3  3  1.0  1.0  3  train  MLWP

In [17]:
dfa['G'] = list(range(len(dfa.index)))
dfa  # Creates New Column

   A    B    C  D      E     F  G
0  0  1.0  1.0  3  train  MLWP  0
1  1  1.0  1.0  3  train  MLWP  1
2  2  1.0  1.0  3  train  MLWP  2
3  3  1.0  1.0  3  train  MLWP  3

In [18]:
x = pd.DataFrame({'x': [1, 2, 3], 'y': [3, 4, 5]})
x

   x  y
0  1  3
1  2  4
2  3  5

In [19]:
x.iloc[0,1]
x.iloc[2]
x.iloc[:1]  # Index Locations in Dataframes
x.iloc[:-1]
x.iloc[::1]
x.iloc[::-1]
x.iloc[::-2]

   x  y
2  3  5
0  1  3

In [20]:
x.iloc[1] = {'x': 9, 'y': 99}
x

   x   y
0  1   3
1  9  99
2  3   5

In [25]:
def train(c,t):
    for i, val in enumerate(t):
        if val == "Yes":
            specific_hypothesis = c[i].copy()
            break
            
    for i, val in enumerate(c):
        if t[i] == "Yes":
            for x in range(len(specific_hypothesis)):
                if val[x] != specific_hypothesis[x]:
                    specific_hypothesis[x] = '?'
                else:
                    pass
                 
    return specific_hypothesis